[Unit]
Description=ЧебурNET: контроль срока временного разрешения ACME

[Timer]
OnBootSec=1min
OnCalendar=minutely
AccuracySec=10s

[Install]
WantedBy=timers.target
